
<section class="page-section {{ slice.type }} position-relative pt-7 pb-6">

    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ slice.text|raw }}
            </div>
        </div>
    </div>

</section>