// Custom utilities


@for $i from 1 through 9 {
  .ls-0#{$i} {
    letter-spacing: #{calc($i/10)}rem;
  }
}

@for $i from 1 through 200 {
  .lh-#{$i}{
    line-height: #{calc($i/100)};
  }
}

@for $i from 1 through 100 {
  .max-width-#{$i*10} {
    max-width: #{$i*10}px;
  }

  .max-width-lg-#{$i*10} {
    @include media-breakpoint-down(lg) {
      max-width: #{$i*10}px;
    }
  }

  .max-width-xl-#{$i*10} {
    @include media-breakpoint-down(xl) {
      max-width: #{$i*10}px;
    }
  }

  .max-width-lg-none{
    @include media-breakpoint-down(lg) {
      max-width: none;
    }
  }
}

:root {
  @each $name, $value in $custom-colors {
    --color-#{$name}: #{$value};
  }
}

@each $name, $value in $custom-colors {
  .bg-#{$name}     { background-color: $value; }
  .text-#{$name}   { color: $value !important; }
  .border-#{$name} { border-color: $value !important; }
}
