{% extends "_layouts/default.twig" %}

{% block bodyTag %}
  {{ parent()|attr({ class : 'justify-center items-center bg-gray-200'}) }}
{% endblock %}

{% block content %}
  <div class="message-box fade show position-relative p-4 bg-white rounded shadow">
    <button class="btn-close position-absolute top-0 end-0 m-3" aria-label="Close"></button>
    <div>
        <h1 class="fs-4 mb-2">{{ (title ?? null) ?: "Oops!"|t }}</h1>
        <p class="mb-0">{{ (message ?? null) ?: "An error has occurred."|t }}</p>
    </div>
  </div>
{% endblock %}
